<% if user_signed_in? %>
    <% provide :title, current_user.first_name %>
    <div class="container">
    <h3 style="color: black;"> Hello there, <%= current_user.first_name %>! </h3>
    <% unless current_user.admin? %>
    <h4>Currently borrowed items:</h4>
        <%= render 'stationeries/borrowed' %>
    <% end %>
    <% view_edit_label = "View"%>
    <% if current_user.admin? %>
        <%= link_to  "Add a new stationery", new_stationery_path %>
        <% view_edit_label = "Edit/Delete"%>
    <% end %>
    <div><%= link_to  "#{view_edit_label} stationeries", stationeries_path %></div>
    <div><%= link_to  "Edit your profile", edit_user_registration_path %></div>
    <div><%= link_to  "Log out", destroy_user_session_path, method: :delete %></div>
    <div>
<% else %>
<div>
<div id="home_bg_img" class = "center jumbotron">
<img src="https://rambutancode.com/assets/rambutan1-33062baacf69ee4cd28e3e531fef70a0b378a07bb396117b3e6707dcf8b29381.png" height=80 width=80 class="center"></img>
<h1 style="color: white;">Welcome to Rambutan Stationery</h1>
<p class="white_text">Office stationeries supply management system</p>
<span>
<%= link_to "Sign up", new_user_registration_url , class: "btn btn-lg btn-primary" %>
<span style="display: inline-block; width: 1cm; color: white; font-size: 1.3em;">or</span>
<%= link_to "Log in", new_user_session_url , class: "btn btn-lg btn-default" %>
</span>
</div>
</div>
<% end %>